.booking-history {
    text-align: center;
    background: #eff6ff;
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-top: 80px;
    min-height: 100vh; /* Ensure the background covers the entire viewport */
  }
  
  .booking-history h1 {
    color: teal;
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .booking-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .booking-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .booking-card h2 {
    font-size: 30px;
    color: teal;
    margin-bottom: 20px;
    font-family: "Arial";
  }
  
  .booking-card p {
    font-size: 16px;
    color: #444;
    margin: 5px 0;
  }
  
  .booking-card p strong {
    font-weight: bold;
    color: #29626b;
  }
  #start{
    color: white;
    font-size: 30px;
  }
  #message{
    color: white;
    font-size: 20px;
  }
  #start:hover{
    color: rgb(121, 231, 255);
    font-size: 31px;
    transition: all 0.2s ease-in-out;
  }
  #status{
    text-align: end;
    font-size: large;
  }
  
  @media (max-width: 768px) {
    .booking-history h1 {
      font-size: 24px;
    }
  
    .booking-card h2 {
      font-size: 20px;
    }
  
    .booking-card p {
      font-size: 14px;
    }
  }
  