.homepage {
  text-align: center;
  padding: 20px;
}

h1.heading {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.card {
  position: relative; /* Required for pseudo-elements */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden; /* Ensures content stays within bounds */
  height: 300px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); /* Gradient overlay */
  z-index: 1;
}

.card h2,
.card p {
  position: relative;
  z-index: 2; /* Place content above the gradient overlay */
  color: white;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  margin-top: 40px;
  padding: 20px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
  }
}
